.btn-link{
    text-decoration: none;
    color: white;
    
}

.filtering{
    background-color: #A99DCF;
    border-radius: 15px;
    padding: 20px;
}

.filter{
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border: none;
    color:#2E2212;
}

.center-heading{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.listing-bg{
    background-color: #6E8280;
    border-radius: 24px;
    padding: 20px;
}

.listing-card{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    padding: 10px;
}
.listing-card:hover{
    background-color: rgb(255, 255, 255);
}

.listing-img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.align{
    display: flex;
    align-content: center; 
    gap: 10px;
}

.align p{
    color:#2E2212 !important;
}

.align2{
    display: flex;
    align-content: center; 
    gap: 10px;
}

.align2 p{
    color:#2E2212 !important;
}



.forSaleRent{
    background-color: #6E8280;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    align-items: center; 
    display: flex;
}

.wishlist-button{
    width: 70px;
    height: 70px;
    background-image: url(../assets/Icons/heart_icon.svg);
    border: none;
    background-color: transparent;
}

.wishlist-button:hover{
    background-image: url(../assets/Icons/heart_icon\ hover.svg);
}

.filled {
    background-image: url(../assets/Icons/heart_icon_filled.svg);
}



.interior{
    background-color: #ffffff;
    height: 33px;
    border-radius: 10px;
    /* padding: 5px; */
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    border: 1.5px solid #2E2212;
}
.interior p{
    margin-top: 13px;
    margin-left: 5px;
    color: #2E2212;
}

.interior2{
    width: 90px;
    background-color: #ffffff;
    height: 33px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    border: 1.5px solid #2E2212;
}
.interior2 p{
    margin-top: 13px;
    margin-left: 5px;
    color: #2E2212;
}

.clear{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
}

.clear:hover{
    background-color: white;
    color:#2E2212;
}