.box-profile{
    background-color: #A99DCF;
    padding: 20px;
    border-radius: 15px;
    color: #2E2212;
}

.logOut{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    border: none;
    height: 50px;
    color:#2E2212;
}

.logOut:hover{
    background-color: #2E2212;
    color: white !important;
}

.logOut p{
    margin-top: 10px;
}

.edit{
    border: 2px solid #2E2212;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    height: 40px;
    margin-left: -12px;
    color:#2E2212;
}

.edit:hover{
    border: 2px solid #2E2212;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    height: 40px;
    margin-left: -12px;
    color:white;
    background-color: #2E2212;
}

.save{
    border: 2px solid #2E2212;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    height: 40px;
    margin-left: -12px;
    color:white;
    background-color: #2E2212;
}

.save:hover{
    border: 2px solid #2E2212;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    height: 40px;
    margin-left: -12px;
    color:#2E2212;
}

/* Read-only state */
.form-control[readonly] {
    background-color: #A99DCF; 
    color: #2E2212;
    border: none;
}

/* Editable state */
.form-control:not([readonly]) {
    background-color: #fff; 
    color: #2E2212; 
}

.blue-bg{
    background-color: #6E8280;
    padding: 20px;
    border-radius: 15px;
}

.wishlist h2{
    color: white !important;
}

.remove-btn{
    background-color: #fff;
    border: 2px solid #6E8280;
    border-radius: 5px;
}

.remove-btn:hover{
    border: 2px solid #6E8280;
    background-color: #6E8280;
}


